# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-generate-with-openssl-rand-base64-32

# Google Sheets
GOOGLE_SHEETS_SPREADSHEET_ID=1UnsPseWvNIb1R1P3UhPOsap3kM-4p2OcOpHToGdKhNU
GOOGLE_SHEETS_CREDENTIALS={"type":"service_account","project_id":"..."}
